@section scripts{
    @* ReSharper disable once Html.PathError *@
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.jqscribble.js">
    </script>
    <script src="~/Scripts/jqscribble.extrabrushes.js">
    </script>
    <script src="~/Scripts/DragAndResizeImages.js">
    </script>
    <script src="~/Scripts/homeIndex.js">
    </script>
}

<div style="overflow: hidden; margin-bottom: 5px;">
    <div>
        <div style="display: inline-block;">Choose Color</div>

        <a style="background:green;" id="green" class="colors" href="#" onclick='$("#can").data("jqScribble").update({ brushColor: "green" });'></a>
        <a style="background:blue;" id="blue" class="colors" href="#" onclick='$("#can").data("jqScribble").update({ brushColor: "blue" });'></a>
        <a style="background:red;" id="red" class="colors" href="#" onclick='$("#can").data("jqScribble").update({ brushColor: "red" });'></a>
        <a style="background:yellow;" id="yellow" class="colors" href="#" onclick='$("#can").data("jqScribble").update({ brushColor: "yellow" });'></a>
        <a style="background:orange;" id="orange" class="colors" href="#" onclick='$("#can").data("jqScribble").update({ brushColor: "orange" });'></a>
        <a style="background:black;" id="black" class="colors" href="#" onclick='$("#can").data("jqScribble").update({ brushColor: "black" });'></a>

        <div style="display: inline-block;">Eraser</div>
        <a style="background:white;border:2px solid;" id="white" class="colors" onclick='$("#can").data("jqScribble").update({ brushColor: "white" });'></a>
    </div>
</div>
<canvas id="can" style="border: 1px solid red;"></canvas>
<div style="margin-top: 5px;">
    <strong>OPTIONS:</strong>
    <a href="#" onclick='addImage();'>Add Image</a>
    <input type="button" value="save" id="btn" size="30" onclick='$("#can").data("jqScribble").save();'>
    <input type="button" value="clear" id="clr" size="23">
</div>

<h5 id="groupId"></h5>
<input type="text" id="drawIdToSend" placeholder="Enter a draw Id" />
<button id="sendDrawId">Join to Draw group</button>
<input type="hidden" id="sendImgUrl" />
<!--Let's draw together-->